/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h6 {text-transform: uppercase;}
.navbar-brand {
  font-family: 'Playfair Display', serif;
}
.cursor-pointer {cursor: pointer !important;}
.cdk-overlay-pane {max-width: 100vw !important;}
.fw-500 {font-weight: 500 !important;}
button:focus:not(:focus-visible) {
  outline: 0 !important;
}

.btn:hover {
  color: #FFF;
}